.advantages {
    padding: 70px 0 100px 0;
    line-height: 1.2;
    color: #0d0d0d;
    background-color: #f6f6f6;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        min-height: 200px;
        width: 240px;
        text-align: center;
    }

    &__title {
        margin-top: 50px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 14px;
    }

    a {
        color: #ff0000;
        text-transform: uppercase;
    }

    &__icon {
        &_animated {
            // animation-name: heartbeat;
            // animation-duration: 1.5s;
            // animation-iteration-count: infinite;
            // animation-timing-function: ease;
            animation: heartbeat 1.5s infinite ease;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    
}