.advantages {
  padding: 62px 10px 84px;

  background-color: #f6f6f6;

  .section-heading {
    margin-bottom: 61px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 235px;
    min-height: 200px;

    text-align: center;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 20px;

    font-size: 18px;
  }

  &__text {
    font-size: 14px;
  }

  a {
    color: #ff0000;
    text-transform: uppercase;
  }

  &__icon {
    &_animated {
      animation: heartbeat 1.5s infinite ease;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@media (max-width: 777px) {
  .advantages {
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      margin-bottom: 50px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}
