.advantages {
    padding: 70px 10px 100px;
    line-height: 1.2;
    background-color: #f6f6f6;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        min-height: 200px;
        width: 240px;
        text-align: center;
    }

    &__title {
        margin-top: 50px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 14px;
    }

    a {
        color: #ff0000;
        text-transform: uppercase;
    }

    &__icon {
        &_animated {
            // animation-name: heartbeat;
            // animation-duration: 1.5s;
            // animation-iteration-count: infinite;
            // animation-timing-function: ease;
            animation: heartbeat 1.5s infinite ease;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    
}

@media (max-width: 780px) {
    .advantages {
        &__list {
            justify-content: center;
            flex-direction: column;
            align-items: center;

        }

        &__item {
            margin-bottom: 50px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &__title {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
}