.carousel {
  padding: 108px 10px 54px;


  .slick-slide {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    button::before {
      font-size: 20px;
    }
  }

  .container {
    height: 100%;
  }

  &__inner {
    position: relative;

    width: 750px;
    height: 500px;
    margin: 0 auto;

    img {
      display: block;
      max-width: 600px;
      height: auto;
      margin: 0 auto;
    }
  }

  .slick-next,
  .slick-prev {
    position: absolute;
    top: 50%;
    left: -66px;


    overflow: visible; // for IE11

    background-color: #ffffff;
    border-width: 0;
    transform: translateY(-50%);
    cursor: pointer;
    svg {
      width: 31px;
      height: 50px;

      fill: $main-color;
    }
  }

  .slick-next {
    right: -66px;
    left: auto;
  }

  .slick-prev {
    transform: rotate(0.5turn) translateY(50%);
  }
}

@media (max-width: 777px) {
  .carousel {
    &__inner {
      max-width: 100%;
      height: auto;

      img {
        max-width: 100%;
      }
    }
  }
}
