.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }

    .next, .prev {
        position: absolute;
        border-width: 0;
        background-color: #fff;
        transform: translateY(-50%);
        left: -66px;
        top: 50%;

        img {
            width: 31px;
            height: 50px;
        }
    }

    .next {
        right: -66px;
        left: auto;
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }

    // .arrow {
    //     transform: rotate(-45deg);
    //     border: solid $main-color;
    //     border-width: 0 3px 3px 0;
    //     display: inline-block;
    //     // padding: 11px;
    //     // 
    // }

    // .arrow_left {
    //     transform: rotate(135deg);
    // }

    // .slick-prev {
    //     position: absolute;
    //     top: 50%;
    //     transform: translate(-50%);
    //     transform: rotate(135deg);
    //     left: -66px;
    //     border: solid black;
    //     border-width: 0 3px 3px 0;
    //     display: inline-block;
    //     padding: 3px;
    //     width: 31px;
    //     height: 50px;
    // }
}

