.catalog {
  padding: 54px 10px 52px;

  &__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 59px;
    padding: 0 15px;

    list-style-type: none;
    line-height: 1.2;
  }

  &__tab {
    flex: 0 1 200px;
    margin: 0 5px;
    padding: 12px 0;

    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #6b6b6b;
    text-transform: uppercase;

    border: 2px solid #d0d0d0;
    transform: skewX(-22deg);
    cursor: pointer;

    transition: 0.5s all;

    &:hover {
      border: none;
      box-shadow: 3px 3px 20px $main-color;
    }

    div {
      transform: skewX(22deg);
    }

    &_active {
      padding: 14px 0;

      color: #ffffff;

      background-color: $main-color;
      border: none;
    }
  }

  &__content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -10px;
    margin-bottom: -20px;
    margin-left: -10px;

    &_active {
      display: flex;
    }
  }

  &-item {
    width: 300px;
    min-height: 436px;
    margin: 0 10px 20px;
    padding: 20px 20px 23px;
    overflow: hidden;

    text-align: center;

    background-color: #ffffff;
    border: 2px solid #e8e8e8;

    &__img {
      display: block;
      max-width: 100%;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &__title {
      margin-bottom: 12px;

      font-weight: 700;
      font-size: 16px;
    }

    &__descr {
      max-width: 250px;
      margin: 0 auto;
      margin-bottom: 12px;

      font-weight: 500;
      font-size: 14px;
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      color: $main-color;
      text-transform: uppercase;

      text-decoration-skip-ink: none;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__prices {
      margin-right: 30px;
    }

    &__old-price {
      margin-bottom: 5px;

      font-size: 14px;
      text-align: left;
      color: #555555;
      text-decoration: line-through;
    }

    &__price {
      font-weight: 700;
      font-size: 20px;
      text-align: left;
      color: #050505;
    }

    hr {
      box-sizing: content-box;
      height: 1px;
      margin-top: 19px;
      margin-bottom: 17px;

      background-color: #e8e8e8;
      border: none;
      border-top: 1px;
    }

    &__wrapper {
      display: flex;
      width: calc(200% + 44px);
    }

    &__content {
      width: 50%;
      margin-right: 0;

      transform: translateX(-100%);

      transition: 0.5s all;

      &_active {
        margin-right: 22px;

        transform: translateX(0%);
      }
    }

    &__list {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      margin-right: 22px;
      padding-right: 22px;

      list-style-type: none;
      font-size: 14px;
      color: #555555;

      transform: translateX(0%);

      transition: 0.5s all;

      &_active {
        margin-right: 0;

        transform: translateX(-100%);
      }

      ul {
        margin: 0;
        padding-left: 14px;

        list-style-type: none;
        text-align: left;
      }

      li {
        position: relative;

        margin-bottom: 20px;

        font-size: 14px;
        color: #555555;

        &::before {
          content: "";
          position: absolute;
          top: 7px;
          left: -14px;

          width: 5px;
          height: 5px;

          background-color: $main-color;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .catalog {
    &-item {
      margin-right: 0;
      margin-left: 0;
    }

    &__tabs {
      flex-direction: column;
    }

    &__tab {
      flex-basis: 0;
      width: 200px;
      margin-bottom: 10px;

      font-size: 14px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &:hover {
        border: 2px solid #d0d0d0;
        box-shadow: none;
      }

      &_active:hover {
        border: none;
      }
    }
  }
}


@media (max-width: 350px) {
  .catalog {
    &-item {
      max-width: 85%;
    }
  }
}
