.catalog {
    padding-bottom: 103px;

    &__tabs {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.2;
    }

    &__tab {
        border: 2px solid #d0d0d0;;
        width: 216px;
        height: 46px;
          
        color: #6b6b6b;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        transition: 0.5s all;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }

        div {
            transform: skewX(25deg);
        }

        &_active {
            background-color: $main-color;
            border: none;
            color: #fff;
        }
    }

    &__content {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }

    &-item {
        background-color: #ffffff;
        width: 300px;
        min-height: 436px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 20px;

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

        &__title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        &__descr {
            font-size: 14px;
            margin-bottom: 18px;
        }

        &__link {
            font-size: 14px;
            color: $main-color;
            text-transform: uppercase;
            font-weight: 500;
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__prices {
            margin-right: 30px;
        }

        &__old-price {
            font-size: 14px;
            color: #555555;
            text-decoration: line-through;
            text-align: left;
            margin-bottom: 10px;
        }

        &__price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
            text-align: left;
        }

        hr {
            box-sizing:content-box;
            background-color: #e8e8e8;
            border-bottom: none;
            margin-top: 19px;
            margin-bottom: 21px;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 44px);
            // width: 200%;
        }

        &__content {
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all;

            &_active {
                margin-right: 22px;
                transform: translateX(0%);
            }
        }

        &__list {
            width: 50%;
            transform: translateX(0%);
            transition: 0.5s all;
            list-style-type: none;
            position: relative;
            margin-right: 22px;
            padding-right: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                margin: 0;
                list-style-type: none;
                padding-left: 14px;
                text-align: left;
            }

            li {
                margin-bottom: 20px;
            }

            &_active {
                margin-right: 0;
                transform: translateX(-100%);
            }

            li {
                position: relative;
                font-size: 14px;
                color: #555555;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
    }
}