.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 83px;
  padding: 0 10px;

  color: #ffffff;


  &__logo {
    display: block;
    width: 250px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__official {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    span {
      display: block;

      font-weight: 700;
      font-size: 18px;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 777px) {
  .header {
    &__official {
      display: none;
    }

    &__logo {
      margin-right: 20px;
    }

    &__phone {
      font-size: 16px;
    }
  }
}


