.section-heading {
    font-size: 30px;
    color: #0d0d0d;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
}